{% extends "uploads/base.html" %}

{% block extra_css %}
  .section{font-family:ariel,sans-serif;font-size:84%;margin-top:2em;width:50em}
  .heading{font-size:110%;}
  ul{margin-bottom:0}
{% endblock %}

{% block content %}
  <div style="margin: 8px 8px 8px 8px">
    <div class="section">
    <span class="heading">What it is</span>
    <br/>
    Source.code is an online compilation tool, that enables you to test simple pieces of code, without having a compiler installed on your machine.
    </div>
    <div class="section">
    <span class="heading">How it works</span><br/>
    </div>
  </div>
{% endblock %}
